node_modules
node_modules/*
build
build/*
.parcel-cache
node_modules
node_modules/*
.parcel-cache
build/*
dist/*
dist
build
.cache
.env
webpage-uploader.sh
build.sh
.gitignore
webpage
webpage/*
.gitignore

