/*GENERAL*/

:root {
  --color-one: black;
  --color-two: yellow;
  --color-three: silver;
  --color-four: rgb(99, 99, 99);
  --color-five: rgb(38, 38, 38);
  --color-six: rgb(78, 206, 144);
  --color-seven: gainsboro;
  --color-eight: rgb(241, 86, 24);
  --color-ten: rgb(218, 229, 253);
}

*,
*:before,
*:after {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lato-Regular";
}

:focus {
  outline: 0px;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

html,
body {
  font-family: "Lato-Regular";
  font-weight: 100;
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 0.95rem;
  line-height: 1.4rem;
  -webkit-appearance: none;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body.screenOff {
  filter: brightness(0);
}

kbd {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid black;
}

form {
  font-family: "Lato-Regular";
}

input {
  font-family: "Lato-Regular";
}

p {
  margin: 1rem 0 1rem 0;
}

h1 {
  font-size: 1rem;
  margin: 25px 0 5px 0;
  color: gray;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
  margin: 25px 0 5px 0;
  color: gray;
  text-transform: uppercase;
}

button {
  width: 100%;
  border-radius: 2px;
  padding: 3px;
  margin: 0 0 5px 0;
}

button:focus {
  background: var(--color-five);
  font-weight: bold;
}

textarea {
  background: white;
  width: 100%;
  color: black;
}

label {
  color: white;
  margin: 0 0 10px 0;
  padding: 5px;
  display: block;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background: #fcfff4;
  border-radius: 50px;
  opacity: 0;
}

div.ckb-icon {
  background: rgb(203, 209, 201);
  width: 40px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -10px;
  opacity: 0.6;
}

div.toogle-button {
  background: rgb(105, 110, 102);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;

  right: 23px;
  top: 50%;
  margin-top: -8px;
  z-index: 3;
}

select {
  width: 99%;
  padding: 5px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  color: rgb(54, 54, 54);

  outline: 0;
  border: 0;
  border-bottom: 2px solid rgb(63, 63, 63);
  margin: 0 0% 0 0%;
  text-align: center;
  position: relative;
  background: #fafafa url("image/E264.svg") no-repeat 99% 80%;
}

input[type="checkbox"]:checked ~ div.ckb-icon {
  background: rgb(255, 255, 255);
  opacity: 1;
}

input[type="checkbox"]:checked ~ div.toogle-button {
  right: 7px;
}

input:focus {
  background: var(--color-three);
}

.input-parent:focus {
  background: var(--color-three);
}

.input-parent {
  position: relative;
}

div.textarea-footer {
  font-size: 0.6rem;
  background: none !important;
  margin: -3px 0;
  color: black;
}

a.button {
  width: 100%;
  display: block;
  border-radius: 2px;
  padding: 3px;
  text-decoration: none;
  color: white;
}

a.button:focus {
  background: var(--color-three);
}

a {
  font-style: normal;
  text-decoration: none;
  color: white;
}

.debug {
  outline: 1px solid red;
}

.loader {
  width: 30px;
  height: 10px;
  background: #000000;
  margin-top: 40px;
  display: none;
  position: fixed;
  z-index: 60000;
  left: 10%;
  top: 1%;
}
.loader::after {
  content: "";
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  position: absolute;
  border: 15px solid transparent;
  border-top-color: #000000;
  box-sizing: border-box;
  animation: bump 0.4s ease-in-out infinite alternate;
}
.loader::before {
  content: "";
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, 0);
  position: absolute;
  width: 15px;
  height: 20px;
  background: #000000;
  box-sizing: border-box;
  animation: bump 0.4s ease-in-out infinite alternate;
}

@keyframes bump {
  0% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, -5px);
  }
}

/*///////////////////////////
///MARKERS////////////////*/

img.marker-1 {
  filter: hue-rotate(140deg);
}

.earthquake-marker {
  background: rgb(5, 48, 240);
  border-radius: 50%;
}

.default-marker {
  background: rgb(78, 110, 17);
  border-radius: 50%;
  border: 3px solid black;
}

/*follow marker*/

.follow {
  width: 15px;
  height: 15px;
  background-color: #ec410d;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
}

.ringring {
  border: 3px solid #e9ece6;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 18px;
  top: 18px;
  -webkit-animation: pulsate 4s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

/*goal marker*/

.goal {
  width: 15px;
  height: 15px;
  background-color: #281bd8;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
}

/*tracking marker*/

.tracking {
  width: 15px;
  height: 15px;
  background-color: #e2140c;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
}

.climbing {
  width: 15px;
  height: 15px;
  background-color: #ce1496;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
  border: 3px solid black;
}

.water {
  width: 15px;
  height: 15px;
  background-color: #5621e9;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
  border: 3px solid black;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

/*///////////////////////////
///TOAST////////////////*/

div#toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: black;
  color: white;
  z-index: 10;
  min-width: 100%;
  padding: 5px;
  top: 0px;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: translate(0px, -100px);
}

div#side-toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: orange;
  color: white;
  z-index: 10;
  padding: 8px;
  top: 70vh;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: translate(-100vw, 0px);
}

div#side-toast img {
  width: 30px;
}

/*/ ////////////////
USER INPUT////////////////*/

div#user-input {
  position: fixed;

  background: gray;
  color: white;
  z-index: 50000000;
  padding: 5px;
  bottom: -1000px;
}

div#user-input input {
  margin: 5px 0 5px 0;
  padding: 3px;
  height: 22px;
  width: 90%;
  font-size: 1.1rem;
  background: white !important;
  position: relative;
}

div#user-input-description {
  position: relative;
  color: white;
  margin: 10px 0 10px 0;
  min-width: 11%;
}

/*///////////////////////////
///MAP////////////////*/

div#map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

div#cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 100;
}

div#menu {
  position: absolute;
  bottom: 5px;
  width: 22px;
  height: 22px;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

div#menu div {
  width: 8px;
  height: 8px;
  background: rgb(58, 57, 57);
}

/*crosshair*/

div#cross div#cross-inner {
  position: relative;
}

div#cross div {
  min-width: 20px;
  height: 3px;
  background: black;
  position: absolute;
}

div#cross div:nth-child(1) {
  transform: rotate(90deg);
  z-index: 2;
}

div#cross div:nth-child(2) {
  z-index: 2;
}

div#cross div:nth-child(3) {
  min-width: 20px;
  outline: 2px solid white;
}

div#cross div:nth-child(4) {
  outline: 2px solid white;
  transform: rotate(90deg);
}

div.unavailable div:nth-child(4) {
  outline: 2px solid yellow !important;
}

div.unavailable div:nth-child(3) {
  outline: 2px solid yellow !important;
}

/*
 top bar
 */

div#top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 15px;
  z-index: 6;
  background: black;
  display: none;
}

div#top-bar div#inner {
  position: relative;
}

div#top-bar div {
  background: black;
  color: white;
  padding: 2px;
}

div#top-bar div#button-center {
  background: black;
  color: white;
  padding: 2px;
  width: 30%;
  text-align: center;
}

div#top-bar div#button-left {
  background: black;
  color: white;
  padding: 2px;
  width: 20px;
  text-align: left;
  width: 30%;
}

/*
 bottom bar
 */

div#bottom-bar {
  position: fixed;
  bottom: 10px;
  left: 0px;
  height: 15px;
  z-index: 6;
  background: black;
  display: none;
}

div#bottom-bar div#inner {
  position: relative;
}

div#bottom-bar div {
  background: black;
  color: white;
  padding: 2px;
}

div#bottom-bar div#button-center {
  background: black;
  color: white;
  padding: 2px;
  width: 30%;
  text-align: center;
}

div#bottom-bar div#button-left {
  background: black;
  color: white;
  padding: 2px;
  width: 20px;
  text-align: left;
  width: 30%;
}

div#bottom-bar div#button-right {
  background: black;
  color: white;
  padding: 2px;
  width: 30%;
  text-align: right;
}

/*///////////////////////////
///INTRO////////////////*/

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

div#intro {
  max-width: 100vw;
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  background: black;
  color: white;
  font-size: 14px;
  padding: 5px;
}

div#intro div {
  background: black;
  color: white;
  font-size: 14px;
  padding: 3px;
  position: fixed;
}

div#intro div#icon img {
  animation: roll 3s infinite;
  animation-delay: 1.5s;
  display: block;
  width: 100%;
}

div#intro div#icon {
  background: var(--color-ten);
  border-radius: 10px;
  width: 70px;
  display: block;
  z-index: 8;
  top: 125px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -35px;
}

div#intro div#intro-footer {
  position: absolute;
  bottom: 20px;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  left: 0px;
}

/*/ //////////////////////////
///FINDER////////////////*/

div#finder {
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 1);
  padding: 5px;
  color: white;
  display: none;
  overflow: hidden !important;
  max-height: 99vh !important;
}

div#finder div#custom-map-track {
  background: black;
  color: white;
  font-size: 14px;
  margin: 0 0 3px 0;
  padding: 3px;
  max-height: 80%;
}

div#finder div#close {
  background: black;
  color: white;
  font-size: 14px;
  padding: 3px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  min-width: 100vw;
}

div#finder .item:focus {
  background: var(--color-eight) !important;
  color: black;
}

div#finder .item.panel:focus {
  background: black !important;
  color: black;
}

div#finder .item:focus label {
  color: black;
}

div#finder section {
  margin: 0 0 10px 0;
}

div#finder div.active {
  background: #fcfff4;
}

div#finder div.temp {
  margin: 0 0 8px 0;
  width: 60px;
}

div#finder div.time {
  margin: 0 0 8px 0;
  width: 40px;
  color: yellow;
}

div#finder div.description {
  margin: 0 0 8px 0;
}
div#finder div#question {
  background: black;
  color: white;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
}

#routing-container {
  display: block;
  margin: 20px 0 0 0;
}

div.panel {
  display: none;
  margin: 30px 0px 0px 0px;
  padding: 5px;
  max-height: 80vh;
  color: white;
  background: none;
  overflow: hidden !important;
}

div.panel span {
  color: yellow;
}

div#setting {
  top: 0;
  padding: 10px;
  overflow: hidden;
  z-index: 2000;
  width: 100vw;
  display: none;
}

div#settings input {
  margin: 0 0 15px 0;
  width: 100%;
  display: block;
  font-size: 1rem;
  padding: 3px;
}

div#settings label {
  margin: 5px 0 5px 0;
  width: 80%;
  display: block;
}

div#settings #screenlock-ckb {
  margin: 5px 0 0px 0;
}

div#imprint {
  overflow-y: scroll !important;
  color: white;
}
div#imprint:focus {
  background: black !important;
  color: white !important;
}

div#tips {
  overflow-y: scroll !important;
}

div#tips:focus {
  background: black !important;
  color: white !important;
}

/*MARKERS OPTION*/

div#markers-option {
  background: rgba(0, 0, 0, 0.808);
  position: fixed;
  z-index: 5;
  display: none;
  overflow: hidden;
  height: 99vh;
  padding: 0 0 100px 0;
}

div#markers-option ul {
  padding: 5px;
  display: block;
}

div#markers-option div {
  color: white;
  margin: 0 0 10px 0;
  padding: 5px;
  background: gray;
}

div#markers-option div:last-child {
  margin: 0 0 100px 0;
}

div#markers-option div:last-child {
  margin: 0 0 100px 0;
}

div#markers-option div input {
  margin: 0 0 100px 0;
  min-width: 100%;
  padding: 10px;
}

div#markers-option div:focus {
  background: var(--color-eight);
  color: black;
}

div#files-option {
  background: rgba(0, 0, 0, 1);
  position: fixed;
  z-index: 15;
  display: none;
  overflow: hidden;
}

div#files-option div {
  color: white;
  margin: 0 0 10px 0;
  padding: 5px;
  background: gray;
  display: block;
}

div#files-option div:focus {
  background: var(--color-eight);
  color: black;
}

/*ADS*/

div#kaios-ads {
  min-height: 240px;
  max-height: 240px;
  min-width: 240px;
  padding: 0px;
}

div#result-container {
  background: rgb(216, 216, 216) !important;
  max-height: 60vh;
  overflow-y: hidden;
}

li.items {
  background: silver;
  padding: 3px;
  margin: 0 0 10px 0;
  list-style: none !important;
}

li.items:focus {
  background: black !important;
  color: white;
}

div#osm-upload-panel {
  min-width: 100vw;
  min-height: 100vh;
  background: black;
  position: fixed;
  z-index: 100;
  display: none;
  padding: 10px;
}
