
/*GENERAL*/

:root {
    --color-one: black;
    --color-two: yellow;
    --color-three:silver;
    --color-four:rgb(99,99,99);
    --color-five:rgb(38,38,38);
    --color-six:rgb(78,206,144);
    --color-seven:gainsboro;
 
}
*, *:before, *:after 
{
  
  border:0px;
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

*::-webkit-scrollbar 
{
	width: 0 !important;
}



html,body
{

	font-weight: 100;
	width:100%;
	position:relative;
	margin:0px;
	padding:0px;  
	font-size:0.95rem;
	line-height:1.4rem;
	-webkit-appearance: none;
	height: 100%;
	margin: 0;

}



/*///////////////////////////
///MAP////////////////*/

div#map-container
{ 
	height: 100%;
	width: 100vw;
}



/*///////////////////////////
///MESSAGE////////////////*/

div#message
{
	position:absolute;
	z-index:2000;
	left:0;
	top:0;
	background:black;
	color:white;
	font-size: 14px;
	padding:5px;
}

div#message div
{
	background:black;
	color:white;
	font-size: 14px;
	padding:3px;
}



/*///////////////////////////
///HELPER////////////////*/


div#zoom-level
{
	position:absolute;
	z-index: 1000;
	top:10px;
	left:10px;
	background:black;
	color:white;
	font-size: 16px;
	display:none;
}



/*///////////////////////////
///FINDER////////////////*/

div#finder
{
	position:absolute;
	z-index:1000;
	top:0px;
	left:0px;
	background:black;
	padding:5px;
	color:white;
	display:none;
}

div#finder h2
{
	font-size:14px;
	font-weight:bold;
}

div#finder-error
{
	position:absolute;
	z-index:2;
	top:50%;
	left:50%;
	margin:-7px 0 0 -50px;
	width:92px;
	background:black;
	color:white;
	font-size:14px;
	padding:3px;
	display:none;
}


div#finder div#custom-map-track
{
	background:black;
	color:white;
	font-size:14px;
	margin:0 0 3px 0;
	padding:3px;
	max-height:80%;
	overflow: scroll;
}

div#finder div#close
{
	background:black;
	color:white;
	font-size:14px;
	padding:3px;
	position:absolute;
	bottom:5px;
	left:5px;
	min-width:100vw;


}

div#finder div:focus
{
	border-bottom:3px solid yellow;
}

div#finder div#question
{
	background:black;
	color:white;
	font-size:14px;
	position:absolute;
	top:0;
	left:0;
	z-index:3000;
	opacity:0;
	
}

div#finder div#question div#question-text
{
	padding:50px 30px  0 30px;
	text-align: center;
	
}

/*///////////////////////////
///SEARCH////////////////*/


div#search
{
  display:none;
  position:absolute;
  z-index:1000;
  top:0;
  background:none;
  padding:0px;
}


div#search div#close
{
	background:black;
	color:white;
	font-size:14px;
	padding:3px;
	position:absolute;
	bottom:0px;
	left:0px;
	min-width:60px;
}





/*///////////////////////////
///MAN-PAGE////////////////*/


div#man-page
{
  display:none;
  position:absolute;
  z-index:1000;
  top:0;
  background:black;
  color:white;
  font-size: 12px;
  padding:5px;
}

div#man-page h1
{
  font-weight: 800;
  margin:0 0 10px 0;
  font-size:14px;

}

div#man-page li div
{
 padding:0 0 0 10px;

}

div#man-page div#inner
{
	max-height:200px;
}

div#man-page div#close
{
	background:black;
	color:white;
	font-size:14px;
	padding:3px;
	position:absolute;
	bottom:5px;
	left:5px;
	min-width:100vw;
}




/*///////////////////////////
///LOCATION////////////////*/


div#location
{
  position:absolute;
  z-index:1000;
  left:0;
  top:0;
  background:black;
  color:white;
  font-size: 14px;
  padding:5px;
}

div#location div#close
{
	background:black;
	color:white;
	font-size:14px;
	padding:3px;
	position:absolute;
	bottom:5px;
	left:5px;
	min-width:100px;
}

div#location div#share
{
	background:black;
	color:white;
	font-size:14px;
	padding:3px;
	position:absolute;
	bottom:5px;
	right:10px;
	text-align: right;
	min-width:70px;
}

div#location div#lat
{
	background:black;
	color:white;
	font-size: 14px;
	padding:3px;
}

div#location div#lng
{
	background:black;
	color:white;
	font-size: 14px;
	padding:3px;
}

div#location div#altitude
{
	background:black;
	color:white;
	font-size: 14px;
	padding:3px;
}





/* KaiOS portrait devices (240x320) */
@media only screen and (orientation : portrait) {
  /* styles */
}

/* KaiOS landscape devices (320x240) */
@media screen and (orientation: landscape) {
  /* styles */
}