/*GENERAL*/

:root {
  --color-one: black;
  --color-two: yellow;
  --color-three: silver;
  --color-four: rgb(99, 99, 99);
  --color-five: rgb(38, 38, 38);
  --color-six: rgb(78, 206, 144);
  --color-seven: gainsboro;
}

*,
*:before,
*:after {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0 !important;
  background-color: transparent !important;
  display: none !important;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

html,
body {
  font-family: "Lato-Regular";
  font-weight: 100;
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 0.95rem;
  line-height: 1.4rem;
  -webkit-appearance: none;
  height: 100%;
  margin: 0;
}

p {
  margin: 1rem 0 1rem 0;
}

h1 {
  font-size: 1.1rem;
  margin: 25px 0 5px 0;
  color: gray;
  text-transform: uppercase;
}

h2 {
  font-size: 1.1rem;
  margin: 25px 0 5px 0;
  color: gray;
  text-transform: uppercase;
}

#goodbye {
  position: fixed;
  z-index: 20000;
  left: 0;
  top: 0;
  background: black;
  color: white;
  font-size: 18px;
  padding: 70px 5px 5px 5px;
  display: none;
}

#ciao {
  padding: 5px;
  text-align: center;
  display: none;
}

#ciao ul {
  margin: 20px 0 0px 0;
}

#ciao ul li {
  margin: 0 0 0px 0;
  font-size: 14px;
  list-style: none;
}

#ciao ul li:first-child {
  color: yellow;
  margin: 0 0 5px 0;
}

#donation {
  padding: 5px;
  text-align: center;
  display: none;
}

.debug {
  outline: 1px solid red;
}

img.marker-1 {
  filter: hue-rotate(120deg);
}

/*///////////////////////////
///MARKERS////////////////*/

.earthquake-marker {
  background: red;
  border-radius: 50%;
}

.defaulte-marker {
  background: pink;
  border-radius: 50%;
}

/*///////////////////////////
///TOAST////////////////*/

div#toast {
  position: fixed;
  height: auto;
  overflow: none;
  top: -100px;
  background: black;
  color: white;
  z-index: 7;
  min-width: 100%;
  padding: 5px;
}

/*/ ////////////////
USER INPUT////////////////*/

div#user-input {
  position: fixed;
  height: 80px;
  bottom: -80px;
  background: gray;
  color: white;
  z-index: 2000;
  padding: 5px;
}

div#user-input input {
  margin: 5px 0 5px 0;
  height: 20px;
  width: 90%;
  font-size: 1.1rem;
}

div#user-input div#button-bar-save {
  background: black;
  height: 25px;
}

div#user-input div#button-bar-save div {
  background: black;
  color: white;
  height: 20px;
  padding: 2px;
}

/*///////////////////////////
///MAP////////////////*/

div#map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

div#cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 100;
}

/*crosshair*/

div#cross div#cross-inner {
  position: relative;
}

div#cross div {
  min-width: 20px;
  height: 3px;
  background: black;
  position: absolute;
}

div#cross div:nth-child(1) {
  transform: rotate(90deg);
  z-index: 2;
}

div#cross div:nth-child(2) {
  z-index: 2;
}

div#cross div:nth-child(3) {
  min-width: 20px;
  outline: 2px solid white;
}

div#cross div:nth-child(4) {
  outline: 2px solid white;
  transform: rotate(90deg);
}
/*
 top bar
 */

div#top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 15px;
  z-index: 6;
  background: black;
  display: none;
}

div#top-bar div#inner {
  position: relative;
}

div#top-bar div {
  background: black;
  color: white;
  padding: 2px;
}

div#top-bar div#button-center {
  background: black;
  color: white;
  padding: 2px;
  width: 30%;
  text-align: center;
}

div#top-bar div#button-left {
  background: black;
  color: white;
  padding: 2px;
  width: 20px;
  text-align: left;
  width: 30%;
}

/*
 bottom bar
 */

div#bottom-bar {
  position: fixed;
  bottom: 10px;
  left: 0px;
  height: 15px;
  z-index: 6;
  background: black;
  display: none;
}

div#bottom-bar div#inner {
  position: relative;
}

div#bottom-bar div {
  background: black;
  color: white;
  padding: 2px;
}

div#bottom-bar div#button-center {
  background: black;
  color: white;
  padding: 2px;
  width: 30%;
  text-align: center;
}

div#bottom-bar div#button-left {
  background: black;
  color: white;
  padding: 2px;
  width: 20px;
  text-align: left;
  width: 30%;
}

a#download-button {
  width: 100%;
  height: 20px;
  background: black;
  color: white;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  display: none;
}

div#bottom-bar div#button-right {
  background: black;
  color: white;
  padding: 2px;
  width: 30%;
  text-align: right;
}

/*///////////////////////////
///MESSAGE////////////////*/

div#message {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  background: black;
  color: white;
  font-size: 14px;
  padding: 5px;
}

div#message div {
  background: black;
  color: white;
  font-size: 14px;
  padding: 3px;
}

/*///////////////////////////
///FINDER////////////////*/

div#finder {
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
  background: black;
  padding: 5px;
  color: white;
  display: none;
  overflow: hidden;
}

div#finder div#custom-map-track {
  background: black;
  color: white;
  font-size: 14px;
  margin: 0 0 3px 0;
  padding: 3px;
  max-height: 80%;
}

div#finder div#close {
  background: black;
  color: white;
  font-size: 14px;
  padding: 3px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  min-width: 100vw;
}

div#finder div:focus {
  background: yellow;
  color: black;
}

div#finder div#question {
  background: black;
  color: white;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
}

div#finder div#question div#question-text {
  padding: 50px 30px 0 30px;
  text-align: center;
}

div.panel {
  display: none;
  margin: 40px 0 0 0;
  height: 85vh;
  color: white;
  background: black;
  overflow: hidden;
}

div#setting {
  top: 0;
  padding: 10px;
  overflow: hidden;

  z-index: 2000;
  width: 100vw;
  display: none;
}

div#settings input {
  margin: 0 0 15px 0;
  width: 90%;
  display: block;
  font-size: 1rem;
  padding: 3px;
}

div#settings label {
  margin: 5px 0 5px 0;
  width: 80%;
  display: block;
}

div#settings input:focus {
  border: 2px solid yellow;
  background: silver;
}

div.panel button {
  padding: 3px;
}

div.panel button:focus {
  background: yellow;
}

/*/ //////////////////////////
///LOCATION////////////////*/

div#coordinations {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.726);
  color: white;
  font-size: 14px;
  padding: 5px 10px 70px 5px;
  display: none;
  overflow: hidden;
}

div#coordinations div {
  background: none;
  color: white;
  font-size: 14px;
  padding: 3px;
}

div#coordinations div#weather {
  width: 200px;
  position: relative;
  height: 40px;
  background: none;
  display: none;
}

div#coordinations div#weather div {
  height: 15px;
  margin: 0px 0 0 -2px;
}

div#coordinations div#weather div img {
  height: 35px;
  position: absolute;
  margin: -5px 0 0 0;
}
