/*GENERAL*/

:root {
    --color-one: black;
    --color-two: yellow;
    --color-three: silver;
    --color-four: rgb(99, 99, 99);
    --color-five: rgb(38, 38, 38);
    --color-six: rgb(78, 206, 144);
    --color-seven: gainsboro;
}

*,
*:before,
*:after {
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0!important;
    background-color: transparent!Important;
    display: none!Important;
}

html,
body {
    font-weight: 100;
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 0.95rem;
    line-height: 1.4rem;
    -webkit-appearance: none;
    height: 100%;
    margin: 0;
}


/*///////////////////////////
///TOAST////////////////*/

div#toast {
    position: fixed;
    height: auto;
    overflow: none;
    top: -100px;
    background: black;
    color: white;
    z-index: 2000;
    min-width: 100%;
    padding: 5px;
}


/*/////////////////
USER INPUT////////////////*/

div#user-input {
    position: fixed;
    height: 60px;
    bottom: -80px;
    background: gray;
    color: white;
    z-index: 2000;
    padding: 5px;
}

div#user-input input {
    margin: 5px 0 5px 0;
    height: 20px;
    width: 90%;
    font-size: 1.1rem;
}

div#user-input div#button-bar {
    background: black;
    height: 25px;
}

div#user-input div#button-bar div {
    background: black;
    color: white;
    height: 20px;
    padding: 2px;
}


/*///////////////////////////
///MAP////////////////*/

div#map-container {
    height: 100%;
    width: 100%;
}


/*///////////////////////////
///MESSAGE////////////////*/

div#message {
    position: absolute;
    z-index: 2000;
    left: 0;
    top: 0;
    background: black;
    color: white;
    font-size: 14px;
    padding: 5px;
}

div#message div {
    background: black;
    color: white;
    font-size: 14px;
    padding: 3px;
}


/*///////////////////////////
///HELPER////////////////*/

div#zoom-level {
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 10px;
    background: black;
    color: white;
    font-size: 16px;
    display: none;
}

div#window-status {
    position: fixed;
    top: 10px;
    left: 5px;
    background: black;
    color: white;
    z-index: 1000;
    display: none;
}

div#output {
    position: fixed;
    top: 10px;
    left: 5px;
    background: black;
    color: white;
    z-index: 1000;
    display: none;
}


/*///////////////////////////
///FINDER////////////////*/

div#finder {
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0px;
    background: black;
    padding: 5px;
    color: white;
    display: none;
    overflow: hidden;
}

div#finder h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 5px 0!Important;
}

div#finder-error {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -50px;
    width: 92px;
    background: black;
    color: white;
    font-size: 14px;
    padding: 3px;
    display: none;
}

div#finder div#custom-map-track {
    background: black;
    color: white;
    font-size: 14px;
    margin: 0 0 3px 0;
    padding: 3px;
    max-height: 80%;
    overflow: scroll;
}

div#finder div#close {
    background: black;
    color: white;
    font-size: 14px;
    padding: 3px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    min-width: 100vw;
}

div#finder div:focus {
    background: yellow;
    color: black;
}

div#finder div#question {
    background: black;
    color: white;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3000;
    opacity: 0;
}

div#finder div#question div#question-text {
    padding: 50px 30px 0 30px;
    text-align: center;
}


/*///////////////////////////
///SEARCH////////////////*/

div#search {
    display: none;
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    background: black;
    padding: 0px;
    height: 30px;
    color: white;
    width: 100%;
}

div#search div.button {
    background: black;
    color: white;
    font-size: 14px;
    padding: 3px;
    max-width: 60px;
    min-width: 60px;
}


/*///////////////////////////
///LOCATION////////////////*/

div#coordinations {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    background: black;
    color: white;
    font-size: 14px;
    padding: 5px 10px 50px 5px;
    display: none;
    overflow: hidden;
}

div#coordinations div#button-set {
    position: fixed!Important;
    bottom: 0px;
    height: 30px;
    background: black;
}

div#coordinations div#button-set div div#close {
    background: black;
    color: white;
    font-size: 14px;
    padding: 3px;
    min-width: 100px;
}

div#coordinations div#button-set div div#share {
    background: black;
    color: white;
    font-size: 14px;
    padding: 3px 10px 3px 3px;
    text-align: right;
    min-width: 70px;
}

div#coordinations div#lat {
    background: black;
    color: white;
    font-size: 14px;
    padding: 3px;
}

div#coordinations div#lng {
    background: black;
    color: white;
    font-size: 14px;
    padding: 3px;
}

div#coordinations div#altitude {
    background: black;
    color: white;
    font-size: 14px;
    padding: 3px;
}


/* KaiOS portrait devices (240x320) */

@media only screen and (orientation: portrait) {
    /* styles */
}


/* KaiOS landscape devices (320x240) */

@media screen and (orientation: landscape) {
    /* styles */
}