/*GENERAL*/

:root {
  --color-one: black;
  --color-two: yellow;
  --color-three: silver;
  --color-four: rgb(99, 99, 99);
  --color-five: rgb(38, 38, 38);
  --color-six: rgb(78, 206, 144);
  --color-seven: gainsboro;
  --color-eight: rgb(24, 64, 241);
  --color-ten: rgb(218, 229, 253);
  --color-eleven: rgb(44, 83, 17);
}

*,
*:before,
*:after {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lato-Regular";
}

:focus {
  outline: 0px;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

html,
body {
  font-family: "Lato-Regular";
  font-weight: 400;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  line-height: 1.4rem;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body.screenOff {
  filter: brightness(0);

  overflow: hidden;
  max-height: 100vh;
}

html.screenOff {
  filter: brightness(0);

  overflow: hidden;
  max-height: 100vh;
}

kbd {
  display: inline-block;
  padding: 3px 6px;
  font-family: monospace;
  font-size: 0.9em;

  background: #b8f7bd; /* klassisches Win95 Grau */

  border-top: 2px solid #fff; /* Licht */
  border-left: 2px solid #fff;
  border-bottom: 4px solid #404040; /* Schatten */
  border-right: 4px solid #404040;

  box-shadow:
    inset -1px -1px 0 #808080,
    inset 1px 1px 0 #fff;
}

form {
  font-family: "Lato-Regular";
}

input {
  font-family: "Lato-Regular";
}

p {
  margin: 1rem 0 1rem 0;
}

h1 {
  font-size: 1rem;
  margin: 25px 0 5px 0;
  color: gray;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2rem;
  margin: 25px 0 10px 0;
  color: black;
  text-transform: uppercase;
  min-width: 100%;
  text-align: center;
}

h2 {
  font-size: 1rem;
  margin: 0px 0 10px 0;
  color: black;
  font-weight: bold;
  min-width: 100%;
  text-align: center;
}

button {
  width: 100%;
  border-radius: 2px;
  padding: 7px;
  margin: 0 0 5px 0;
  font-size: 1rem;
}

button:focus {
  background: var(--color-five);
  font-weight: bold;
}

button.vip {
  background: var(--color-eight);
  color: white;
  font-family: "Lato-Regular";
}

textarea {
  background: white;
  width: 100%;
  color: black;
}

img {
  outline: 0px;
  border: none;
  display: block;
}

a {
  color: black;
}

label {
  color: white;
  margin: 0 0 10px 0;
  padding: 5px;
  display: block;
}

input[type="search"] {
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  margin: 0 0 20px 0;
  outline: 2px solid black;
}

input[type="search"]:focus {
  background: none;
}

.search-results .result-name {
  margin: 0 0 10px 0;
  padding: 10px;
}

.text-algin-left {
  text-align: left;
}
select {
  width: 99%;
  padding: 5px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  color: rgb(54, 54, 54);

  outline: 0;
  border: 0;
  border-bottom: 2px solid rgb(63, 63, 63);
  margin: 0 0% 0 0%;
  text-align: center;
  position: relative;
  background: #fafafa url("../image/E264.svg") no-repeat 99% 80%;
}

input[type="checkbox"]:checked ~ div.toogle-button {
  right: 7px;
}

input:focus {
  background: var(--color-three);
}

.input-parent:focus {
  background: var(--color-three);
}

.input-parent {
  position: relative;
  text-align: center;
}
.toggle {
  position: absolute;
  width: 40px;
  height: 20px;
  display: block;
  margin: 50px 0 0 0;
  left: 50%;
  margin-left: -20px;
}

.label-text {
  text-align: center;
  min-width: 100%;
}
.toggle input {
  opacity: 0;
  position: absolute;
}

.slider {
  position: absolute;
  inset: 0;
  background: rgb(203, 209, 201);
  border-radius: 20px;
}

.slider::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(105, 110, 102);
  border-radius: 50%;
  transition: 0.2s;
}

.toggle input:checked + .slider::before {
  transform: translate(20px, -50%);
  background: #4caf50;
}

div.textarea-footer {
  font-size: 0.6rem;
  background: none !important;
  margin: -3px 0;
  color: black;
}

a.button {
  width: 100%;
  display: block;
  border-radius: 2px;
  padding: 3px;
  text-decoration: none;
  color: white;
}

a.button:focus {
  background: var(--color-three);
}

.debug {
  outline: 1px solid red;
}

#app {
  min-width: 100vw;
  min-height: 100vh;
}

label {
  color: black;
}

section {
  margin: 0 0 60px 0;
}

/*///////////////////////////
///TOAST////////////////*/

div#toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: black;
  color: white;
  z-index: 10;
  min-width: 100%;
  padding: 5px;
  top: 0px;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: translate(0px, -100px);
}

div#side-toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: orange;
  color: white;
  z-index: 100;
  padding: 8px;
  top: 70vh;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: translate(-100vw, 0px);
}

div#side-toast img {
  width: 30px;
}

/*/ ////////////////
USER INPUT////////////////*/

div#user-input {
  position: fixed;

  background: gray;
  color: white;
  z-index: 50000000;
  padding: 5px;
  bottom: -1000px;
}

div#user-input input {
  margin: 5px 0 5px 0;
  padding: 3px;
  height: 22px;
  width: 90%;
  font-size: 1.1rem;
  background: white !important;
  position: relative;
}

div#user-input-description {
  position: relative;
  color: white;
  margin: 10px 0 10px 0;
  min-width: 11%;
}

/*///////////////////////////
///MAP////////////////*/

div#map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
}

div#cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 100;
}

button.active {
  background: orange;
}

.item:focus {
  background: orange;
}

#menu button {
  height: 80px;
  width: 80px;
  border: 5px solid white;
}

.panel {
  padding: 20px 10px 60px 10px;
  position: relative;
}

#meu .item i {
  font-size: 20px;
  display: block;
  text-align: center;
}

.item .label {
  font-size: 12px;
  text-align: center;
}

/*crosshair*/

div#cross div#cross-inner {
  position: relative;
}

div#cross div {
  min-width: 20px;
  height: 3px;
  background: black;
  position: absolute;
}

div#cross div:nth-child(1) {
  transform: rotate(90deg);
  z-index: 2;
}

div#cross div:nth-child(2) {
  z-index: 2;
}

div#cross div:nth-child(3) {
  min-width: 20px;
  outline: 2px solid white;
}

div#cross div:nth-child(4) {
  outline: 2px solid white;
  transform: rotate(90deg);
}

div#cross div.unavailable div:nth-child(4) {
  outline: 2px solid yellow !important;
}

div#cross div.unavailable div:nth-child(3) {
  outline: 2px solid yellow !important;
}

/*/////////////////
///BOTTOM BAR////
////////////////*/

div#bottom-bar {
  position: fixed;
  z-index: 2000;
  bottom: 20px;
  left: 0px;
  right: 0px;
  height: 45px;
  z-index: 6;
  background: none;
  display: none;
  padding: 7px 12px 7px 12px;
}

div#bottom-bar div div.inner {
  position: relative;
  padding: 5px 10px 15px 10px;
  background: none;
}

div#bottom-bar div div div {
  background: none;
  color: white;
  padding: 3px;
}

div#bottom-bar div.button-left {
  background: none;
  color: white;
  padding: 2px;
}

div#bottom-bar div.button-left img {
  width: 40px;
}

div#bottom-bar div.button-right img {
  width: 40px;
}

div#bottom-bar div.button-center img {
  width: 40px;
}

div#bottom-bar div.button-right {
  background: none;
  color: white;
  padding: 2px;
}

div#bottom-bar div.button-center {
  background: none;
  color: white;
  padding: 2px;
}

div#bottom-bar div.button-left:hover {
  cursor: pointer;
}

div#bottom-bar div.button-right:hover {
  cursor: pointer;
}

div#bottom-bar div.button-center:hover {
  cursor: pointer;
}

/*/ ////////////////
///TOP-BAR///////*/

div#top-bar {
  position: fixed;
  z-index: 2000;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  z-index: 6;
  background: none;
  display: none;
}

div#top-bar div.inner {
  position: relative;
  padding: 2px 10px 2px 10px;
  background: none;
}

div#top-bar div div div {
  background: none;
  color: black;
}

div#top-bar div.button-left {
  background: none;
  color: white;
}

div#top-bar div.button-left img {
  width: 40px;
}

div#top-bar div.button-right img {
  width: 40px;
}

div#top-bar div.button-center img {
  width: 40px;
}

div#top-bar div.button-right {
  background: none;
  color: white;
  padding: 2px;
}

div#top-bar div.button-center {
  background: none;
  color: black;
  padding: 2px;
}

div#top-bar div.button-left:hover {
  cursor: pointer;
}

div#top-bar div.button-right:hover {
  cursor: pointer;
}

div#top-bar div.button-center:hover {
  cursor: pointer;
}

.menu-button {
  width: 2rem !important;
}

/*///////////////////////////
///INTRO////////////////*/

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

div#intro {
  position: fixed;
  background: black;
  z-index: 100000;
  min-width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  animation-name: intro;
  animation-duration: 1s;
  animation-delay: 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

div#intro img {
  width: 60px;
  height: auto;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -30px;
  animation-name: intro_img;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#intro #version {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

#intro #version-box {
  position: absolute;
  bottom: 50px;
  height: 40px;
}

#intro #version-box kbd {
  border: 2px solid pink;
  box-shadow: 2px 2px pink;
  font-size: small;
  line-height: 0.85em;
  display: block;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 3px 5px;
  white-space: nowrap;
  color: white;
  width: fit-content;
  height: 20px;
}

/*ADS*/

div#kaios-ads {
  min-height: 240px;
  max-height: 240px;
  min-width: 240px;
  padding: 0px;
}

div#result-container {
  background: rgb(216, 216, 216) !important;
  max-height: 60vh;
  overflow-y: hidden;
}

li.items {
  background: silver;
  padding: 3px;
  margin: 0 0 10px 0;
  list-style: none !important;
}

li.items:focus {
  background: black !important;
  color: white;
}

#intro {
  background: #000000;
  min-width: 100vw;
  min-height: 100vh;
}

/*crosshair*/

div#cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000000000000;
  opacity: 1;
}

div#cross div#cross-inner {
  position: relative;
}

div#cross div {
  min-width: 20px;
  height: 3px;
  background: black;
  position: absolute;
}

div#cross div:nth-child(1) {
  transform: rotate(90deg);
  z-index: 20000000;
}

div#cross div:nth-child(2) {
  z-index: 20000000;
}

div#cross div:nth-child(3) {
  min-width: 20px;
  outline: 2px solid white;
}

div#cross div:nth-child(4) {
  outline: 2px solid white;
  transform: rotate(90deg);
}

div.unavailable div:nth-child(4) {
  outline: 2px solid yellow !important;
}

div.unavailable div:nth-child(3) {
  outline: 2px solid yellow !important;
}

#tracking .item {
  border-radius: 5px;
  margin: 0 0 5px 0;
  background: silver;
  padding: 10px 0px 10px 0;
  border: 10px solid white;
}

#keys .row {
  margin: 0 0 10px 0;
}

@media screen and (min-width: 400px) {
  *::-webkit-scrollbar {
    display: none;
  }
}
