/*https://www.devbridge.com/sourcery/components/jquery-autocomplete/
*/

div#olc {
  position: fixed;
  top: 30px;
  height: 20px;
  padding: 5px;
  background: white;
  color: black;
  z-index: 5;
  width: 100%;
  display: none;
}

div#search-box {
  background: silver;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  position: fixed;
  z-index: 5;
  height: auto;
  display: none;
}

div#search-box input {
  width: 98%;
  display: block;
  height: 30px;
  padding: 3px;
  background: white !important;
}

.autocomplete-suggestions {
  border: 0px solid #999;
  background: white;
  overflow: auto;
  margin: 0px 0 0 0;
}

div.autocomplete-suggestion {
  padding: 2px 5px;
  margin: 0 0 5px 0;
  outline: black 2px solid;
  white-space: nowrap;
  overflow: hidden;
  background: white;
}

.autocomplete-selected {
  background: silver !important;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: red;
}

.autocomplete-group {
  padding: 2px 5px;
  background: black;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}
